* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: white;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

li {
  list-style: none;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  height: 77px;
}

header .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header p {
  
  width: 15%;
  padding-top: 40px;
}

header ul {
  font-size: 20px;
  line-height: 7px;
  padding-top: 30px;
}

main {
  background-color: rgb(249, 249, 249);
}

#works, #arts {
  width: 80%;
  margin: auto;
}

#top-illust {
  width: 100%;
  position: relative;
  height: 700px;
}

#kanahei-logo {
  filter: drop-shadow(5px 5px 10px black);
  position: absolute;
  width: 200px;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
}

.sec-title {
  margin-top: 120px;
  margin-bottom: 30px;
}

.sec-title p {
  font-size: 13px;
}


.works-content img {
  width: 40%;
}




/*@media(min-width: 1000px) {
  .works-content img {
    width: 24%;
  }
}
