* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  margin-block-start: 0em;
}

li {
  list-style: none;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  height: 10vw;
}

header .container {
  height: 100%;
}

header .top-bar {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header .right {
  position: absolute;
  top: 30%;
  right: 0;
  display: flex;
}

header i {
  cursor: pointer;
}

header #insta {
  font-size: 30px;
}

header p {
  width: 50%;
  text-align: left;
}

header img {
  width: 30%;
  height: 100%;
  padding: 7px 0;
}

header .top-bar ul {
  font-size: 20px;
  line-height: 8px;
  cursor: pointer;
  margin-top: 8px;
}

header .top-bar a {
  color: black;
}

.menu-bar {
  background-color: white;
  width: 100%;
  line-height: 70px;
  text-align: center;
  display: none;
}

.menu-bar a {
  color: black;
  display: block;
}

.menu-bar a:hover {
  background-color: rgb(245, 245, 245);
}

main {
  background-color: rgb(249, 249, 249);
}

main .container {
  width: 90%;
  margin: auto;
}

.sec-title {
  margin-top: 10vw;
  margin-bottom: 40px;
  position: relative;
}

.sec-title #works-logo {
  margin-top: 40px;
  width: 12%;
}

.large-block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.small-block {
  display: flex;
  border-bottom: 1px solid gray;
  padding-top: 0px;
  padding-bottom: 5%;
  width: 50%;
  margin-bottom: 5%;
}

.small-block .image-part {
  width: 50%;
}

.small-block img {
  width: 100%;
  height: 100%;
}

.explain-part {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

@media(max-width: 1024px) {
  header img {
    width: 40%;
    height: 100%;
    padding: 7px 0;
  }
}

@media(max-width: 850px) {
  .explain-part h3 {
    font-size: 15px;
  }

  .explain-part p {
    font-size: 12px;
  }
}

@media(max-width: 768px) {

  header {
    height: 20vw;
  }

  header img {
    width: 60%;
    height: 100%;
    padding: 7px 0;
  }

  .sec-title #works-logo {
    width: 30%;
  }

  .small-block {
    width: 100%;
  }

  .sec-title {
    margin-top: 20vw;
  }
}

@media(max-width: 500px) {
  .explain-part h3 {
    font-size: 15px;
  }

  .explain-part p {
    font-size: 12px;
  }
}

@media(max-width: 350px) {
  .explain-part h3 {
    font-size: 12px;
  }

  .explain-part p {
    font-size: 10px;
  }
}
